main {
    background-image: url(/assets/images/main-image.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: multiply;
    min-height: 80vh;
}

.main-overlay {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 72%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 1400px;
    height: 550px;
    background-color: transparent;
    border: 2px solid #c9a23d;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 10;
}

.main-overlay h1 {
    position: absolute;
    top: 50%;
}

.cta-button {
    top: 70%;
    position: absolute;
    font-size: 24px;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
    cursor: pointer;
}

.quote-section {
    background-color: #ffffff;
    padding: 100px 250px 100px 150px;
}

.quote-section h2 {
    font-family: 'Waterfall', serif;
    letter-spacing: 2px;
    color: #000000;
    text-align: left;
}

.blog-links {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 20px;
    padding: 20px;
    margin: 0;
    max-width: 1500px;
}

.image-container {
    position: relative;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 0px;
    opacity: 0.6;
}

.image-container img:hover {
    opacity: 1;
}

.overlay-text {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #c9a23d;
    color: #c9a23d;
    padding: 5px 10px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    width: 35%;
}

.overlay-text:hover {
    background-color: #000000;
    color: #ffffff;
    border: 2px solid #ffffff;
}