.main-date {
    text-align: center;
    color: #FFFFFF;
    padding: 20px;
}

.summer-2025-header {
    text-align: center;
    padding: 20px;
}

.summer-2025-main-image {
    display: block;
    margin: auto;
    width: 70%;
}