.brand-link {
    color: var(--accent-color-amaranth-pink);
}

.summer-2025-main p {
    text-align: center;
    color: #FFFFFF;
    padding: 20px;
}

.summer-2025-main h1 {
    font-family: 'Cinzel Decorative', serif;
    font-size: 3rem;
    text-align: center;
    padding: 20px;
}

.summer-2025-main img {
    display: block;
    margin: auto;
    width: 70%;
    padding: 20px 0;
}

.blog-section-one p {
    margin: 10px 200px;
    line-height: 1.8;
}

.blog-section-one-images {
    display: block;
    margin: auto;
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blog-section-one-images img {
    width: 30%;
    padding: 20px;
}

.blog-section-two img {
    display: block;
    margin: auto;
    width: 70%;
    padding-top: 30px;
}

.blog-section-two p {
    margin: 10px 200px;
    line-height: 1.8;
}