.brand-link {
    color: var(--accent-color-amaranth-pink);
}

.summer-2025-main p {
    text-align: center;
    color: #FFFFFF;
    padding: 20px;
}

.summer-2025-main h1 {
    font-family: 'Cinzel Decorative', serif;
    font-size: 3rem;
    text-align: center;
    padding: 20px;
}

.summer-2025-img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    padding: 20px 0;
}

.blog-section-one h2 {
    letter-spacing: 2px;
}

.blog-section-one p,
.blog-section-two p {
    max-width: 800px;
    margin: 10px auto;
    padding: 0 20px;
    line-height: 1.8;
}

.blog-section-one-images {
    margin: auto;
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.blog-section-one-images img {
    width: 30%;
    padding: 10px;
    box-sizing: border-box;
}

.blog-section-two img {
    display: block;
    margin: auto;
    width: 70%;
    padding-top: 30px;
}

@media (max-width: 768px) {
    .summer-2025-main h1 {
        font-size: 2.5rem;
        padding: 10px;
    }

    .summer-2025-img {
        padding: 10px 0;
    }

    .blog-section-one p {
        margin: 10px 70px;
        line-height: 1.6;
    }

    .blog-section-one-images {
        width: 100%;
    }

    .blog-section-two p {
        margin: 10px 70px;
        line-height: 1.6;
    }

    .blog-section-two img {
        width: 80%;
        padding-top: 30px;
    }
}

@media (max-width: 435px) {
    .summer-2025-main h1 {
        font-size: 1.8rem;
        padding: 10px;
    }

    .summer-2025-img {
        max-width: 100%;
        padding: 10px 0;
    }

    .blog-section-one h2 {
        font-size: 2.6rem;
        letter-spacing: 2px;
    }

    .blog-section-one p {
        margin: 10px 30px;
        line-height: 1.6;
    }

    .blog-section-one-images img {
        width: 90%;
        padding: 10px;
    }

    .blog-section-two p {
        margin: 10px 30px;
        line-height: 1.6;
    }
}